{
  auto_https off
}

http://kalaclista.com:8888,
http://*:8888 {
  encode zstd gzip

  root * /app/web/public

  @nonStatic {
    not {
      file {
        try_files {path}
      }
    }
  }

  reverse_proxy @nonStatic http://127.0.0.1:9999 {
    flush_interval -1

    header_up X-Real-IP {header.Fly-Client-IP}
    header_up X-Forwarded-Proto "https"
    header_up X-Forwarded-For {header.Fly-Client-IP}
    header_up X-Forwarded-Host "kalaclista.com"

    trusted_proxies 127.0.0.1/32 172.16.0.0/12
  }

  file_server
}
